/ConceptExercises/nbproject/private/
/ConceptExercises/build/
/ConceptExercises/dist/
/MVC_Demo/nbproject/private/
/MVC_Demo/build/
/Hibernate_Demo/nbproject/private/
/Hibernate_Demo/build/
/ApplicationControllerPatternDemo/nbproject/private/